Source: msodbcsql
Section: database
Priority: extra
Maintainer: Michael Gutteridge <michael.gutteridge@gmail.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.5
Homepage: https://github.com/atombaby/msodbcsql-debian
Vcs-Git: git://github.com/atombaby/msodbcsql-debian.git
Vcs-Browser: https://github.com/atombaby/msodbcsql-debian.git

Package: msodbcsql
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends} odbcinst1debian2
Description: Microsoft ODBC Driver 11 for SQL Server
 This package contains the Microsoft ODBC driver for SQL server for
 Debian-like systems.
 .
 IMPORTANT: this contains binaries that are copyrighted by Microsoft and is not
 for distribution outside of the home organization. You _must_ obtain the
 Microsoft driver from the official Microsoft distribution site and build
 these packages from the source package.

