#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#DH_VERBOSE = 1
# exclude VCS paths if needed.
#DH_ALWAYS_EXCLUDE=CVS:.svn:.git

# see FEATURE AREAS in dpkg-buildflags(1))
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all
# see ENVIRONMENT in dpkg-buildflags(1))
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

%:
		dh $@

# debmake generated override targets
# For example, set multiarch library install file path.  
# See dpkg-architecture(1)
#DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)
#override_dh_auto_configure:
#	cmake -DCMAKE_INSTALL_PREFIX=/usr \
#             -DLIBDIR=/usr/lib/$(DEB_HOST_MULTIARCH)

override_dh_shlibdeps:
	dh_shlibdeps -l/opt/microsoft/msodbcsql/11.0.2270.0/lib --dpkg-shlibdeps-params=--ignore-missing-info


#dpkg-shlibdeps: error: couldn't find library libcrypto.so.10 needed by debian/msodbcsql/opt/microsoft/msodbcsql/11.0.2270.0/lib/libmsodbcsql-11.0.so.2270.0 (ELF format: 'elf64-x86-64'; RPATH: '')
#dpkg-shlibdeps: error: couldn't find library libssl.so.10 needed by debian/msodbcsql/opt/microsoft/msodbcsql/11.0.2270.0/lib/libmsodbcsql-11.0.so.2270.0 (ELF format: 'elf64-x86-64'; RPATH: '')
#dpkg-shlibdeps: warning: /usr/lib/x86_64-linux-gnu/libodbcinst.so.1 has an unexpected SONAME (libodbcinst.so.2)
#dpkg-shlibdeps: error: no dependency information found for /usr/lib/x86_64-linux-gnu/libodbcinst.so.1 (used by debian/msodbcsql/opt/microsoft/msodbcsql/11.0.2270.0/lib/libmsodbcsql-11.0.so.2270.0)
#dh_shlibdeps: dpkg-shlibdeps -Tdebian/msodbcsql.substvars debian/msodbcsql/opt/microsoft/msodbcsql/11.0.2270.0/lib/libmsodbcsql-11.0.so.2270.0 debian/msodbcsql/opt/microsoft/msodbcsql/11.0.2270.0/bin/bcp-11.0.2270.0 debian/msodbcsql/opt/microsoft/msodbcsql/11.0.2270.0/bin/sqlcmd-11.0.2270.0 returned exit code 2
#
